# If you are wondering how to get the following credentials, go to ->
# https://firebase.google.com/docs/admin/setup
GOOGLE_APPLICATION_CREDENTIALS=

# However, we're using the variables instead of the json file itself
# This is because of Heroku
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Heroku uses a database URL in order to connect
DATABASE_URL=
# In dev environment, use the following to connect to db
PGUSER=
PGHOST=
PGPASSWORD=
PGDATABASE=
PGPORT=

SECRET=
