block content
    #add-marker-modal.modal.fade(tabindex="-1" role="dialog")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5.modal-title Adicionar marcador
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×
                .modal-body
                    .container-fluid
                        .row
                            .col-12
                                .form-group
                                    label(for="category-selection") Selecione uma categoria
                                    select#category-selection.form-control
                                        option(value=1) &#127795 Meio ambiente
                                        option(value=2) &#127974 Urbanismo
                                        option(value=3) &#128106 População
                        .row
                            .col-12
                                .form-group
                                    label(for="sub-category-selection") Selecione uma sub-categoria
                                    select#sub-category-selection.form-control
                                        option(value=1) Descarte irregular de resíduos sólidos
                                        option(value=2) Vazadouro a céu aberto
                                        option(value=3) Presença de lixão
                                        option(value=4) Poluição de rios
                                        option(value=5) Imóveis abandonados
                                        option(value=6) Sugestão de inclusão de novos ecopontos


                .modal-footer
                    button#add-marker-btn.btn.btn-primary(type="button") Adicionar marcador
                    button#cancel-add-marker-btn.btn.btn-secondary(type="button" data-dismiss="modal") Cancelar
