extends layout

block content
    .container.mt-5
        .row
            .col-12
                h4 &#x26A0; Não foi possível completar a sua requisição
                p Ocorreu um erro interno no servidor ao processar a sua requisição.
                h4 &#x1F447; Abaixo você pode encontrar a mensagem de erro recebida:

                p= message
                h6= error.status
                pre #{error.stack}

                h4 &#x1F4E7; Se o erro persistir, encaminhe-o para o e-mail: mail@mail

                h6.mt-3
                    | &#x1F3E0;
                    a(href='/') Clique aqui
                    |  para voltar para a tela inicial

