extends layout

block head
    link(type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css")

    link(href='/stylesheets/login.css', rel='stylesheet')

block content
    .container-fluid.pt-5
        .row.pt-5
            .col-12.pb-5
                //h3.text-center Um espaço para construção do saber geográfico!
            #firebaseui-auth-container.col-12

block resource
    script(src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js")
    script(src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth__pt_br.js")
    script(src="javascripts/firebase.js")



