extends layout

block content
    .container.mt-5
        .row
            .col-12
                h1 Política de Privacide
                p
                    span(style='font-weight: 400;')
                        | Acreditamos ser uma grande responsabilidade receber dados pessoais seus, como por exemplo, seu nome e e-mail, por meio do cadastro que voc&ecirc; est&aacute; fazendo neste site ou contato via rede social. Por isso, queremos explicar como e porque coletamos seus dados e tamb&eacute;m de que forma eles ser&atilde;o tratados, armazenados e protegidos. Outra coisa importante, queremos te contar como vamos atender seus direitos em rela&ccedil;&atilde;o aos seus dados. Por exemplo, saiba que Voc&ecirc; pode solicitar a atualiza&ccedil;&atilde;o e exclus&atilde;o dos seus dados a qualquer momento! Para isso ou qualquer outra solicita&ccedil;&atilde;o ou d&uacute;vida, &eacute; s&oacute; mandar um e-mail para centralsiginfos@gmail.com
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    strong Anota a&iacute; algumas informa&ccedil;&otilde;es sobre o projeto
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        | O SIGMAPA (esse foi o nome que a gente escolheu pro nosso projeto) conta com a colabora&ccedil;&atilde;o de muitas pessoas. Anota a&iacute; o nome do principal respons&aacute;vel por essa pol&iacute;tica de privacidade e de quem se compromete em cuidar dos seus dados: Aldayr Monteiro, que &eacute; Bacharel em Geografia da UFC e est&aacute; fazendo o projeto com uma relev&acirc;ncia social importante. No caso, o nosso projeto &eacute; o SIGMAPA!
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        | Antes de come&ccedil;ar, vamos combinar uma formalidade: no texto da nossa pol&iacute;tica de privacidade, vamos usar &quot;Voc&ecirc;&quot; (assim com letra V mai&uacute;scula) ao falarmos sobre as pessoas que utilizam nosso site e redes sociais.
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        | Outra coisa importante, s&oacute; utilize e se cadastre nesse site se concordar com as nossa pol&iacute;tica de privacidade. Por isso, &eacute; importante que voc&ecirc; gaste um tempinho para l&ecirc;-la aqui! Ao aceitar nossa pol&iacute;tica de privacidade Voc&ecirc; compreende que a Pulmo poder&aacute; coletar, armazenar, processar, associar, utilizar e compartilhar suas informa&ccedil;&otilde;es, conforme explicamos em seguida.
                h3
                    strong Para que serve uma pol&iacute;tica de privacidade?
                p
                    span(style='font-weight: 400;')
                        | N&oacute;s criamos a nossa pol&iacute;tica de privacidade para que Voc&ecirc; saiba como o SIGMAPA vai coletar, tratar, armazenar, processar, compartilhar e proteger suas informa&ccedil;&otilde;es. A ideia &eacute; tornar transparente para Voc&ecirc; a rela&ccedil;&atilde;o que n&oacute;s temos com os seus dados (ou informa&ccedil;&otilde;es).
                h3
                    strong Qual a finalidade do uso de seus dados?
                p
                    span(style='font-weight: 400;')
                        | S&oacute; podemos alcan&ccedil;ar nosso objetivo de ajudar no processo de tomada de decis&atilde;o do planejamento urbano e ambiental se conhecermos melhor nossos usu&aacute;rios. Pessoas que est&atilde;o preocupados com temas essenciais para o correto processo de tomada de decis&atilde;o de forma colaborativa. No caso, imaginamos que Voc&ecirc; se enquadra nesse perfil e por isso est&aacute; entrando em contato com a gente ou utilizando nossos servi&ccedil;os. Claro, Voc&ecirc; pode entrar em contato com a gente mesmo que n&atilde;o se enquadre nesse perfil. Listamos abaixo os motivos pelos quais utilizamos seus dados:
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        | a) Para disponibilizar e melhorar nossos servi&ccedil;os, por exemplo, o aplicativo que estamos construindo;
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        | b) Para personalizar, desenvolver e aprimorar nossa plataforma, aplicativos, servi&ccedil;os e funcionalidades, ao combinar e usar as informa&ccedil;&otilde;es que temos sobre Voc&ecirc;, como, por exemplo, a maneira que Voc&ecirc; interage com o nosso site, os recursos que Voc&ecirc; mais utiliza, os conte&uacute;dos com os quais Voc&ecirc; mais interage e suas prefer&ecirc;ncias de maneira geral;
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        | c) Para nos comunicarmos com Voc&ecirc; para enviar not&iacute;cias, informativos em rela&ccedil;&atilde;o aos nossos sites, aplicativos e outros conte&uacute;dos digitais que possam ser criados pela equipe SIGMAPA;
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        | d) Para gerar relat&oacute;rios estat&iacute;sticos agregados e an&ocirc;nimos sobre o funcionamento e opera&ccedil;&atilde;o dos nossos sites e aplicativos;
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;') e) Para realizar pesquisas de satisfa&ccedil;&atilde;o sobre as plataformas e servi&ccedil;os;
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        | f) Para realizar entrevistas e pesquisas com Voc&ecirc; de forma a melhorar os servi&ccedil;os oferecidos pela SIGMAPA;
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    strong Precisamos destacar que n&oacute;s N&Atilde;O
                    span(style='font-weight: 400;')
                        | vendemos, licenciamos ou compartilhamos informa&ccedil;&otilde;es que possam identificar Voc&ecirc; individualmente com outras empresas, organiza&ccedil;&otilde;es ou indiv&iacute;duos fora do SIGMAPA.
                h3
                    strong Quais dados s&atilde;o coletados e como s&atilde;o utilizados?
                p
                    span(style='font-weight: 400;')
                        | Sempre vamos pedir sua autoriza&ccedil;&atilde;o antes de coletar e utilizar seus dados (ou informa&ccedil;&otilde;es). Isso acontece quando Voc&ecirc; acessar, se cadastrar ou utilizar nosso site.
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;') a)&nbsp;
                    strong Aqui uma lista com o tipo informa&ccedil;&otilde;es que coletamos/utilizamos:
                ul
                    li(style='font-weight: 400;')
                        span(style='font-weight: 400;')
                            | Dados de cadastro e identifica&ccedil;&atilde;o, por exemplo seu nome e e-mail quando Voc&ecirc; se cadastra no nosso site;
                    li(style='font-weight: 400;')
                        span(style='font-weight: 400;') Dados coletados enquanto Voc&ecirc; utiliza nossos servi&ccedil;os;
                    li(style='font-weight: 400;')
                        span(style='font-weight: 400;') Informa&ccedil;&otilde;es de Cookies ou tecnologias parecidas;
                    li(style='font-weight: 400;')
                        span(style='font-weight: 400;') Informa&ccedil;&otilde;es estat&iacute;sticas e dados agregados.
                p
                    span(style='font-weight: 400;') b)&nbsp;
                    strong A coleta de dados &eacute; feita nas seguintes circunst&acirc;ncias:
                ul
                    li(style='font-weight: 400;')
                        span(style='font-weight: 400;') Quando Voc&ecirc; se cadastra em nosso site
                    li(style='font-weight: 400;')
                        span(style='font-weight: 400;') Quando Voc&ecirc; acessa o nosso site
                p
                    span(style='font-weight: 400;') c)&nbsp;
                    strong Agora segue a lista de dados coletados
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    strong Dados de identifica&ccedil;&atilde;o e cadastro
                    span(style='font-weight: 400;')
                        | s&atilde;o utilizados para entrar em contato com Voc&ecirc; e tamb&eacute;m saber se Voc&ecirc; tem interesse em nossos sites e aplicativos (at&eacute; mesmo os em constru&ccedil;&atilde;o):
                ul
                    li(style='font-weight: 400;')
                        span(style='font-weight: 400;') Nome
                    li(style='font-weight: 400;')
                        span(style='font-weight: 400;') E-mail
                p
                    strong d) E os cookies? &#x1F36A;
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        | Cookies s&atilde;o arquivos de internet que armazenam de forma temporariamente o que as pessoas visitam na internet. Existem outras tecnologias que tamb&eacute;m servem para obter estat&iacute;sticas de uso de uma determinada aplica&ccedil;&atilde;o e tamb&eacute;m podem permitir a identifica&ccedil;&atilde;o de dispositivos, navegadores, perfis de usu&aacute;rio.
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        | Nosso site utiliza cookies e tecnologias semelhantes para entender melhor como Voc&ecirc; utiliza nosso site e tamb&eacute;m para personalizar o conte&uacute;do. Atualmente, utilizamos um servi&ccedil;o terceiro (Google Analytics) para obter essas informa&ccedil;&otilde;es estat&iacute;sticas e de perfil de usu&aacute;rio. Sendo assim, esses cookies e tecnologias de rastreamento est&atilde;o sujeitas &agrave;s respectivas pol&iacute;ticas de privacidade, e n&atilde;o &agrave; pol&iacute;tica de privacidade do SIGMAPA. Claro que Voc&ecirc; fica sabendo de tudo sempre e poder&aacute; gerenciar suas op&ccedil;&otilde;es de privacidade diretamente na pol&iacute;tica de privacidade dessas empresas terceiras:
                p &nbsp;
                p
                    span(style='font-weight: 400;') e)&nbsp;
                    strong Seus dados podem ser atualizados?
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        | Sim, como nada &eacute; para sempre, ent&atilde;o, periodicamente, poderemos solicitar a atualiza&ccedil;&atilde;o de seus dados de identifica&ccedil;&atilde;o e cadastro.
                    span(style='font-weight: 400;')
                        br
                        br
                h3
                    strong At&eacute; quando e como seus dados ser&atilde;o mantidos?
                p
                    span(style='font-weight: 400;')
                        | Todos os dados coletados ser&atilde;o armazenados diretamente pelo SIGMAPA e/ou por prestadores de servi&ccedil;os.
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        | Suas informa&ccedil;&otilde;es ser&atilde;o mantidas enquanto Voc&ecirc; ainda tiver interesse ou estiver utilizando nosso site ou futuro aplicativo. Claro que Voc&ecirc; pode a qualquer momento solicitar a exclus&atilde;o de seus dados e tamb&eacute;m pedir que a gente pare te enviar e-mails ou notifica&ccedil;&otilde;es. Basta escrever um e-mail para centralsiginfos@gmail.com e n&oacute;s vamos acatar seu desejo.
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        | No SIGMAPA seus dados s&atilde;o muito bem tratados! Todas as informa&ccedil;&otilde;es coletadas podem passar por um tratamento de dados feito por n&oacute;s.
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        | Todas as medidas de seguran&ccedil;a que tomamos se aplicam &agrave;s suas informa&ccedil;&otilde;es somente a partir do momento em que as recebemos e enquanto as mantemos sob nossa guarda. O funcionamento e a seguran&ccedil;a do dispositivo que Voc&ecirc; usa para acessar nossos servi&ccedil;os, assim como as redes pelas quais os dados trafegam n&atilde;o s&atilde;o de responsabilidade do SIGMAPA
                h3
                    strong
                        | Tratamento e a transfer&ecirc;ncia internacional de dados (Servidores Heroku e Firebase do Google)
                p
                    span(style='font-weight: 400;')
                        | Como comentamos anteriormente, n&oacute;s do SIGMAPA podemos tratar seus dados no Brasil ou no exterior. Independente do caso, tomaremos todas as provid&ecirc;ncias para garantir o cumprimento dessa Pol&iacute;tica de Privacidade e da legisla&ccedil;&atilde;o vigente, para garantir seus direitos relacionados &agrave; prote&ccedil;&atilde;o de dados pessoais dentro e fora do Brasil.
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        | Agora de forma mais direta, Voc&ecirc; est&aacute; nos autorizando, nos termos j&aacute; discutidos, a transferir, tratar, armazenar e utilizar seus dados pessoais, em outros pa&iacute;ses.
                h3
                    strong Se liga nos seus direitos!
                p
                    span(style='font-weight: 400;')
                        | N&oacute;s damos muita import&acirc;ncia aos seus direitos e gostar&iacute;amos de ressaltar que, conforme a legisla&ccedil;&atilde;o, Voc&ecirc; tem direito a solicitar:
                ul
                    li(style='font-weight: 400;')
                        span(style='font-weight: 400;') Confirma&ccedil;&atilde;o da exist&ecirc;ncia de tratamento dos seus dados;
                    li(style='font-weight: 400;')
                        span(style='font-weight: 400;') Acesso aos seus dados pessoais por n&oacute;s armazenados;
                    li(style='font-weight: 400;')
                        span(style='font-weight: 400;') Corre&ccedil;&atilde;o de dados incompletos, inexatos ou desatualizados;
                    li(style='font-weight: 400;')
                        span(style='font-weight: 400;')
                            | Anonimiza&ccedil;&atilde;o (tornar os dados an&ocirc;nimos, ou seja ele deixa de ser associ&aacute;vel a Voc&ecirc;), bloqueio ou elimina&ccedil;&atilde;o de dados desnecess&aacute;rios, excessivos ou tratados em desconformidade com o disposto na legisla&ccedil;&atilde;o aplic&aacute;vel;
                    li(style='font-weight: 400;')
                        span(style='font-weight: 400;')
                            | Cancelamento do seu consentimento e exclus&atilde;o dos dados pessoais nos termos da lei.
                p
                    strong
                        | Lembrando, qualquer solicita&ccedil;&atilde;o ou d&uacute;vida que Voc&ecirc; tiver, &eacute; s&oacute; mandar um e-mail para&nbsp; centralsiginfos@gmail.com
                h3
                    strong Sobre atualiza&ccedil;&otilde;es dessa pol&iacute;tica de privacidade
                p
                    span(style='font-weight: 400;')
                        | N&atilde;o precisa se preocupar que Voc&ecirc; sempre receber&aacute; uma notifica&ccedil;&atilde;o pelo nosso site (ao acessar), ou atrav&eacute;s de meios de contato dispon&iacute;veis (e-mail ou telefone), quando nossa pol&iacute;tica de privacidade for atualizada.
                h3
                    strong Aceite da pol&iacute;tica de privacidade
                p
                    span(style='font-weight: 400;')
                        | &Eacute; muito bom saber que Voc&ecirc; chegou at&eacute; aqui! Agora que Voc&ecirc; tem todas as informa&ccedil;&otilde;es necess&aacute;rias, s&oacute; precisa entender que
                    strong
                        | ao aceitar nossa pol&iacute;tica de privacidade, Voc&ecirc; declara ter capacidade legal, dando o seu consentimento expresso para tudo que foi apresentado nela.
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        br
                    span(style='font-weight: 400;')
                        | Agradecemos por chegar at&eacute; aqui! D&uacute;vidas ou considera&ccedil;&otilde;es, manda um e-mail para centralsiginfos@gmail.com.



