block content
    nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.dark-blue.sidebar.collapse
        .sidebar-sticky.pt-3
            ul.nav.flex-column.mb-5
                li.nav-item
                    a.nav-link.active(href="#")
                        span(data-feather="home")
                        |               Início
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href="#")
                        span(data-feather="map")
                        |               Mapa principal

                li.nav-item
                    a.nav-link(href="#")
                        span(data-feather="grid")
                        |               Todos os cursos
                li.nav-item
                    a.nav-link(href="#")
                        span(data-feather="layers")
                        |               Meus mapas
                li.nav-item
                    a.nav-link(href="#")
                        span(data-feather="bell")
                        |               Notificações

            ul.nav.flex-column.mb-2.mt-5
                li.nav-item
                    a.nav-link(href="#")
                        span(data-feather="settings")
                        |               Configurações
                li.nav-item
                    a.nav-link(href="#")
                        span(data-feather="log-out")
                        |               Sair
